<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nj.secretary.services.monologue.service.MonologueService">

<!--    type=vo,dto,domain 파일명      id=내가 사용ㅇ할 이름 임의로 정하면 됨 -->
    <resultMap type="com.nj.secretary.services.monologue.domain.Monologue" id="qm">
<!--        property=필드 변수명      column=칼럼에 넣어준 칼럼명 -->
              
       <result property="userId"       column="user_id"/>
       <result property="questionText"   column="question_text"/>
       <result property="monologueText"   column="monologue_text"/>
       <result property="questionId"   column="question_id"/>
       <result property="monologueId"   column="monologue_id"/>
       <result property="reportCount"   column="report_count"/>
       <result property="shareStatus"   column="share_status"/>
       <result property="blindStatus"   column="blind_status"/>
       <result property="monologueDate"   column="monologue_date"/>
    
    </resultMap>
    
    
  <insert id="addQuestionText"  parameterType="com.nj.secretary.services.monologue.domain.Monologue">
	
	INSERT INTO questions (question_id, question_text)
	VALUES (#{questionId.NEXTVAL} , #{questionText})
  
  </insert>
  
  <!-- 

	<insert id="addMonologueText" parameterType="com.nj.secretary.services.monologue.domain.Monologue">

		INSERT INTO questions (question_id, question_text)
		VALUES (#{questionId.NEXTVAL} , #{questionText})

	</insert>

     -->

</mapper>





